body, html {
  scroll-behavior: smooth;
}

.firstsection {
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 65px;
  margin-top: 149px;
}

.servicehead {
  width: fit-content;
  display: flex;
  gap: 14px;
  background: #1b4754ff;
  height: fit-content;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 24px;
}

.dartimg {
  width: 48px;
  height: 48px;
}

.highlight1 {
  height: fit-content;
  margin: auto;
  color: whitesmoke;
  font-size: 16px;
}

.serviceimg {
  width: 900px;
  height: 650px;
}

.imgpar {
  width: 850px;
  margin-top: 50px;
  color: #9095a1ff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.secondsection {
  height: 826px;
  background: #0e252cff; /* primary-500 */
  border-radius: 64px;
  margin-top: 144px;
  padding-top: 80px;
  /* position: relative; */
}

.secondsecbody {
  width: fit-content;
}

.weguide {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: white; /* white */
  margin-top: 50px;
}

.firstservicecon {
  width: 366px;
  height: 472px;
  background: #ffffffff; /* white */
  border-radius: 24px;
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f; /* shadow-s */
  /* position: absolute;
  top: 400px; */
  /* padding-left: 20px;
  padding-right: 5px; */
  padding-top: 25px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstservicecon:hover {
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
}

.planning {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #171a1fff;
}

.planningpar {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #171a1fff;
  /* border: 1px solid red; */
  width: fit-content;
  text-align: center;
}

.readmore {
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  /* margin-left: 120px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #171a1fff;
  background-color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-top: 40px;
  transition: ease-in-out 0.5s;
  border-radius: 14px;
  margin-bottom: 10px;
}

.readmore:hover {
  color: #0e252cff; /* primary-500 */
  background: #cae6eeff; /* primary-150 */
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.firstserviceimg {
  width: 328px;
  height: 235px;
}

.secondsectionright {
  /* border: 1px solid red; */
  /* height: 200px; */

  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.secsecond {
  display: flex;
  margin: auto;
  width: fit-content;
  gap: 24px;
  /* border: 1px solid red; */
}

#secondservice {
  margin-top: 200px;
  height: 500px;
}

#analysis {
  width: 327px;
  height: 196px;
}

#marketing {
  width: 327px;
  height: 340px;
}

#market {
  width: 375px;
  height: 580px;
}

#analysiscon {
  height: 460px;
}

#servicethird {
  width: 327px;
  height: 245px;
}

.thirdservice {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#fourthservice {
  height: 480px;
}

.fourthsection {
  margin-top: 420px;
}

.fourthsectionbody {
  width: fit-content;
  margin: auto;
  background: #f3f4f6ff;
  border-radius: 64px;
  display: flex;
  gap: 64px;
}

.fourthsectionright {
  width: fit-content;
  height: fit-content;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 96px;
}

.flipcard {
  background-color: transparent;
  width: 196px;
  height: 52px;
  perspective: 1000px;
}

.flipcard:hover {
  cursor: pointer;
}

.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

.flipcardfront,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardfront:hover,
.flipcardback:hover {
  cursor: pointer;
}

.flipcardfront {
  background-color: #0e252cff;
  color: white;
  text-align: center;
  border-radius: 26px;
  position: absolute;
}

.flipcardback {
  background-color: #0e252cff;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 26px;
}

.callnow,
.number {
  margin: 17px auto;
  width: fit-content;
}

.fourthsectionleft {
  width: 641px;
  height: 336px;
  margin: auto;
  border-radius: 48px;
}

#interested {
  color: #171a1fff;
  margin-top: 22px;
  margin-bottom: 22px;
}

.fifthsection {
  margin-top: 100px;
  background: #0c2127ff;
  border-top-right-radius: 64px;
  border-top-left-radius: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.fifthsectionbody {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  gap: 84px;
}

.making {
  width: fit-content;
  font-size: 48px;
  font-weight: 400;
  line-height: 68px;
  color: #ffffffff;
}

.fifthsectionleft {
  width: 576px;
  height: 439px;
  border-radius: 48px;
}

.fifthsectionright {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

@media screen and (max-width: 480px) {
  .firstsection {
    margin: 0;
    flex-direction: column;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 33px;
  }

  .serviceimg {
    width: 100%;
    height: 300px;
  }

  .imgpar {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 33px;
  }

  .secsecond {
    margin: 0;
    flex-direction: column;
    width: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    /* margin-left: 16px;
    margin-right: 16px; */
  }

  .secondsection {
    height: fit-content;
    width: 100%;
    padding-bottom: 70px;
  }

  .fourthsection {
    margin-top: 105px;
  }

  .fourthsectionbody {
    margin: 0;
    flex-direction: column-reverse;
    gap: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .firstservicecon {
    width: 99%;
    margin: 0;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    height: fit-content;
    padding-bottom: 25px;
  }

  #market {
    width: 100%;
    height: fit-content;
  }

  .weguide {
    width: fit-content;
    font-size: 18px;
    margin: auto;
    line-height: 30px;
    text-align: center;
    margin-top: 22px;
  }

  .servicehead {
    margin: auto;
  }

  #secondservice {
    margin-top: 56px;
    height: fit-content;
  }

  .planningpar {
    width: 80%;
  }

  .firstserviceimg {
    width: 80%;
  }

  #analysis {
    width: 80%;
  }

  .planning {
    font-size: 18px;
    width: fit-content;
  }

  #marketing {
    width: 80%;
    height: 300px;
  }

  #servicethird {
    width: 80%;
  }

  #analysiscon {
    height: fit-content;
  }

  .fourthsectionleft {
    width: 100%;
    height: 230px;
  }

  .fourthsectionright {
    margin: auto;
  }

  .fifthsectionbody {
    width: fit-content;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

  .fifthsectionleft {
    width: 100%;
    height: 350px;
  }

  .making {
    width: fit-content;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
  }

  #serving {
    font-size: 15px;
  }
}
